.todo_panel {
  transition: 0.3s background-color ease-in;
  background-color: var(--todo_panel-background-color);
}

.todo_panel__field {
  width: 100%;
  transition: 0.3s color ease-in !important;
}
.todo_panel__field .MuiFilledInput-root.MuiFilledInput-underline {
  border-radius: 0;
  background-color: transparent !important;
}

.todo_panel__field .MuiFilledInput-root.MuiFilledInput-underline::before {
  border-color: var(--todo_panel-border-color);
  border-bottom-width: 2px;
}
.todo_panel__field .MuiFilledInput-root.MuiFilledInput-underline:hover::before {
  border-bottom-width: 2px;
  border-color: var(--todo_panel-border-color-hover) !important;
}
.todo_panel__field .MuiFilledInput-root.MuiFilledInput-underline::after {
  border-bottom-width: 2px;
  border-color: var(--todo_panel-border-color-hover) !important;
}

.todo_panel__button {
  min-width: 0px !important;
  width: 64px !important;
  border-radius: 0 !important;
  background-color: transparent !important;

  border-bottom: 2px solid var(--todo_panel-border-color) !important;
}
.todo_panel__button:hover {
  border-color: var(--todo_panel-border-color-hover) !important;
}
.todo_panel__button:hover .todo_panel__icon {
  opacity: 1;
}
.todo_panel__icon {
  opacity: 0.6;
}

.todo_panel__popper > *:first-child {
  background-color: var(--todo_panel-background-color);
  border-radius: 0;
}