.todo_form {
  width: auto !important;
}

.todo_form__row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}

.todo_form__save {
  padding: 10px 0 !important;
}

.todo_form__checkbox {
  padding-left: 0;
}