.todoForm > *:not(:last-child) {
  margin-bottom: 20px;
}

.todo_info_field {
  color: var(--main-color) !important;
  border-color: var(--panel-border-color) !important;
  transition: 0.3s border-color ease-in !important;
}
.todo_info_field:focus {
  background-color: var(--panel-field-backgrond-color-focus) !important;
  border-color: #03a9f4 !important;
}

.todo_info_checkbox {
  border-color: var(--todo-checkbox-border-color) !important;
}
.todo_info_checkbox:hover {
  border-color: var(--todo-checkbox-border-color-hover) !important;
}

.todoCheckboxes {
  display: flex;
  justify-content:space-around;
  align-items: center;
}

.todo_info_save {
  width: 100%;
  height: 100%;
  color: var(--main-color);
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid var(--main-color);
}

.todo_info_save:hover {
  background-color: var(--main-color-hover);
}