.todo_list {
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  overflow-y: overlay;
  overflow-x: hidden;
  height: 40vh;
}

.todo_list::-webkit-scrollbar {
  width: 5px;
}
.todo_list::-webkit-scrollbar-track {
  background: transparent;
}
.todo_list::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-background-color);
  border-radius: 20px;
}
.todo_list::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-background-color-hover);
}

.todo__item-enter {
  opacity: 0.01;
  margin-left: 100%;
}
.todo__item-enter-active {
  opacity: 1;
  margin-left: 0;
  transition: opacity .3s ease-in, margin-left .3s ease-in;
}
.todo__item-exit {
  opacity: 1;
  margin-left: 0;
}
.todo__item-exit-active {
  opacity: 0.01;
  margin-left: -100%;
  transition: opacity 0.3s ease-in, margin-left 0.3s ease-in;
}

@media screen and (max-width: 600px) {
  .todo_list {
    height: calc(100% - 58px);
  }
}