.todos_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  cursor: pointer;
  padding: 0 5%;
}
.todos_item:hover {
  background-color: var(--main-color-hover);
}

.todos_item:hover .cross_button {
  opacity: 0.2;
}

.todoComplete {
  border-color: var(--todo-checkbox-border-color);
}
.todoComplete:hover {
  border-color: var(--todo-checkbox-border-color-hover);
}

.cross_button {
  opacity: 0;
  fill: var(--main-color);
}
.cross_button:hover {
  fill: red;
  opacity: 0.4 !important;
}

.todo_pin_btn, .cross_button {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  padding: 0;
}

.todo_pin_btn {
  margin-right: 5%;
  stroke: var(--main-color);
  stroke-width: 2;
  fill: transparent;
  transition: 0.3s all ease-in;
  opacity: 0.4;
}
.todo_pin_btn:hover {
  opacity: 0.6;
}
.todo_pin_btn.active {
  fill: var(--main-color);
}
.icon {
  width: 100%;
  height: 100%;
}


.todoText_strike {
  position: relative;
  white-space: nowrap;
  margin-right: auto;
  margin-left: 5%;
}
.todoText_strike:after {
  transition: all 0.3s ease-in;
  border-top: 2px solid var(--main-color);
  position: absolute;
  content: "";
  right: 0;
  top: calc(50% + 1px);
  left: 0;
  width: 0%;
}
.todoText_strike.active:after {
  width: 100%;
}

@media screen and (max-width: 600px) {
  .todos_item:hover .cross_button {
    opacity: 0.4;
  }
  .cross_button {
    opacity: 0.4;
    fill: red;
  }
}