.button {
  width: 100%;
  border-radius: 5px;
  padding: 5px;
  outline: none;
  vertical-align: middle;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s all ease-in;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}