html[data-theme='dark'] {
  --main-background-color: #30343c;
  --main-todo-background-color: #202122;
  --main-todo-box-shadow: rgba(255, 255, 255, 0.4) 0px 0px 4px;
  --main-color: rgb(190, 190, 190);
  --main-color-hover : rgb(39, 39, 39);
  --panel-field-backgrond-color-focus: rgb(45, 45, 45);
  --panel-border-color: rgb(116, 116, 116);
  --todo-checkbox-border-color: rgb(178, 175, 175);
  --todo-checkbox-border-color-hover: rgb(250, 251, 250);
  --swap-background-color: #313131;
  --swap-background-color-hover: rgb(241, 241, 241);
  --swap-fill-color: rgb(236, 232, 232);
  --swap-fill-color-hover: #313131;
  --scrollbar-background-color: rgba(63, 63, 63, 0.5);
  --scrollbar-background-color-hover: rgba(63, 63, 63, 0.7);
}

html[data-theme='light'] {
  --main-background-color: #ffffff;
  --main-todo-background-color: #f5f5f5;
  --main-todo-box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 4px;
  --main-color: #212529;
  --main-color-hover : #eee;
  --panel-field-backgrond-color-focus: #eee;
  --panel-border-color: rgb(187, 186, 186);
  --todo-checkbox-border-color: rgba(0,0,0,0.2);
  --todo-checkbox-border-color-hover: rgba(0,0,0,0.4);
  --swap-background-color: rgb(241, 241, 241);
  --swap-background-color-hover: #434242;
  --swap-fill-color: rgb(144, 144, 144);
  --swap-fill-color-hover: rgb(237, 237, 237);
  --scrollbar-background-color: rgba(0,0,0,0.1);
  --scrollbar-background-color-hover: rgba(0,0,0,0.15);
}