html[data-theme='dark'] {
  --todo_list-background-color: rgb(18, 18, 18);
  --todo_panel-background-color: rgb(39, 39, 39) !important;
  --todo_panel-border-color: rgb(90, 90, 90) !important;
  --todo_panel-border-color-hover: #03a9f4 !important;
  --main-background-color: #30343c;
  --scrollbar-background-color: rgba(90, 90, 90, 0.5);
  --scrollbar-background-color-hover: rgba(90, 90, 90, 0.7);
}

html[data-theme='light'] {
  --todo_list-background-color: rgb(225, 225, 225);
  --todo_panel-background-color: #dfdede !important;
  --todo_panel-border-color: rgb(187, 187, 187) !important;
  --todo_panel-border-color-hover: #03a9f4 !important;
  --main-background-color: #ffffff;
  --scrollbar-background-color: rgba(0,0,0,0.1);
  --scrollbar-background-color-hover: rgba(0,0,0,0.15);
}