.todo_modal .MuiDialog-container > .MuiPaper-root {
  width: 30%;
  max-width: 100% !important;
}

@media screen and (max-width: 992px) {
  .todo_modal .MuiDialog-container > .MuiPaper-root {
    width: 60%;
  }
}

@media screen and (max-width: 743px) {
  .todo_modal .MuiDialog-container > .MuiPaper-root {
    width: 70%;
  }
}

@media screen and (max-width: 600px) {
  .todo_modal .MuiDialog-container > .MuiPaper-root {
    width: 100%;
  }
}