.todo__item {
  width: 100%;
  height: 50px;
  cursor: pointer;
  z-index: 2;
  padding: 0 5%;
}
.todo__item:hover {
  background-color: var(--main-color-hover);
}

.todo__pin:not(.active), .todo__remove {
  transition: 0.3s opacity ease-in !important;
  opacity: 0;
}

.todo__item:hover .todo__remove,
.todo__item:hover .todo__pin:not(.active) {
  opacity: 1;
}

@media screen and (max-width: 600px) {
  .todo__pin, .todo__remove {
    opacity: 1 !important;
  }
}