.checkbox {
  display: flex;
  align-items: center;
  width: fit-content;
}

.checkbox__label {
  padding-top: 1px;
  padding-left: 7px;
  font-size: 15px;
  user-select: none;
  cursor: pointer;
}

.checkbox__input {
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  width: 24px;
  height: 24px;
  position: relative;
  border-radius: 20%;
  border: 2px solid rgba(0,0,0,0.2);
  transition: all 0.3s ease-in;
}
.checkbox__input:hover, 
.checkbox__input:focus:not(.checkbox__input:checked) {
  background-color: rgba(255, 255, 255, 0.05);
  border-color: rgba(0,0,0,0.6);
}
.checkbox__input:after {
  border: 2px solid black;
  border-top: none;
  border-right: none;
  content: "";
  height: 25%;
  width: 45%;
  position: absolute;
  left: 4.5px;
  top: 5.5px;
  transform: rotate(-45deg);
  transform: scale(0);
  z-index: 1;
  transition: inherit;
  opacity: 0;
}
.checkbox__input:checked {
  background-color: #00d478;
  border-color: rgba(0,0,0,0.6);
}
.checkbox__input:checked:after {
  opacity: 0.6;
  transform: scale(1) rotate(-45deg);
}