.container {
  width: 30%;
  height: auto;
  background-color: var(--main-todo-background-color);
  box-shadow: var(--main-todo-box-shadow);
  border-radius: 0.25rem;
  overflow: hidden;
  transition: 0.3s all ease-in;
}

@media screen and (max-width: 992px) {
  .container {
    width: 80%;
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}