.swap_theme {
  position: fixed !important;
  left: calc(100% - 80px);
  top: calc(100% - 80px);
  min-width: 0px;
  width: 64px;
  height: 64px;
  border-radius: 50% !important;
  cursor: pointer;
}